spring:
  application:
    name: config-server

  cloud:
    stream:
      bindings:
        publishConfigUpdate-out-0:
          destination: ${powsybl-ws.rabbitmq.destination.prefix:}config.update
      output-bindings: publishConfigUpdate-out-0

powsybl-ws:
  database:
    name: config
  autoconfigure:
    base-exception-handler:
      enable: false

spring.jpa.hibernate.ddl-auto: update